/*Global var*/
:root {
    --gb-color: black;
    --color-gold: #bdae82;
    --color-white: #ffffff;

    --family-main: 'Merriweather', sans-serif;
    --family-secondary: 'Inter', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: var(--family-secondary), var(--family-main);
}

h1, h2 {
    font-family: var(--family-main);
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

p {
    margin-bottom: 25px;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;


}

ul li a {
    color: var(--color-white);
    text-decoration: none;
    padding: 15px 0;

    margin-left: 30px;

    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    text-align: left;

}


.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Hero img*/
.hero-img {
    background-image: url('/portfolio/assets/img/hero-img.png');
    height: 910px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

/*Header*/
.header-container {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 90px;
    color: var(--color-white);

}

.logo {
    background-image: url('/portfolio/assets/svg/Vector.svg');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 0;
    transition: all 1s ease;
}

.logo:hover, .video-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(100%) contrast(87%);
}

.nav-list {
    display: flex;
    margin-left: auto;
}

.en-lang {
    color: var(--color-gold);
}

/*Main*/
/*Hero text*/
.hero-container {
    color: var(--color-white);
    width: 500px;
    margin-right: auto;
    margin-left: 60px;
    height: 660px;

    margin-top: 160px;
}

.hero-btn {
    width: 220px;
    background-color: var(--color-gold);
    padding: 7px 0;
    border: none;
    cursor: pointer;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    transition: all 1s ease;

}

.hero-btn:hover {
    background-color: var(--color-white);
}

.hero-h1 {
    font-family: Merriweather, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0;
    text-align: left;

}

.hero-p {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: left;
    margin-right: 30px;
    font-family: 'Inter', sans-serif;

}

/*Skills section*/
.skills {
    position: relative;
   background-color: black;
    height: 482px;
    width: 100%;
    z-index: 100;
}

.title {
    padding: 100px 1rem 40px 1rem;
    color: var(--color-gold);
    font-family: Merriweather, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0;

}

.title:before,
.title:after {
    background-color: var(--color-gold);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20%;
    margin-top: -6px;
}

.title:before {
    right: 21px;
    margin-left: -25%;
}

.title:after {
    left: 361px;
    margin-left: -25%;
}

/*Cards*/
.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     grid-column-gap: 40px;
}

.card1 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gold);
}

.card-img {
    background-image: url('/portfolio/assets/svg/camera 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 62px;
    height: 50px;
    transition: all 1s ease;
}

.card-img2 {
    background-image: url('/portfolio/assets/svg/video 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    transition: all 1s ease;
}

.card-img3 {
    background-image: url('/portfolio/assets/svg/image 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 66px;
    height: 50px;
    transition: all 1s ease;
}
.card-img4 {
    background-image: url('/portfolio/assets/svg/mic 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 50px;
    transition: all 1s ease;

}
.card-title{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.card-text p{
    color: var(--color-white);
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0;
  }
/*Portfolio*/
.portfolio{
    background-color: black;
}
.portfolio-btn{
    padding-top: 20px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 60px;

}
.portfolio-btn > button{
    width: 220px;
    height: 55px;
    border: 2px solid var(--color-gold);
    background-color: black;
    color: var(--color-gold);
    transition: all 1s ease;
}
.portfolio-btn > button:hover{
    background-color: var(--color-gold);
    color: black;
}
/*Portfolio img*/
.img-container{
    height: 1145px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px 25px;
}
.img-container > .porfolio-img{
    background-size: contain;
    background-repeat: no-repeat;
}
.porfolio-img:first-child{
    background-image: url("/portfolio/assets/img/portfolio-img.png");
}
.porfolio-img:nth-child(2){
    background-image: url("/portfolio/assets/img/portfolio-img-1.png");
}
 .porfolio-img:nth-child(3){
    background-image: url("/portfolio/assets/img/portfolio-img-2.png");
}
 .porfolio-img:nth-child(4){
    background-image: url("/portfolio/assets/img/portfolio-img-3.png");
}
 .porfolio-img:nth-child(5){
    background-image: url("/portfolio/assets/img/portfolio-img-4.png");
}
 .porfolio-img:nth-child(6){
    background-image: url("/portfolio/assets/img/portfolio-img-5.png");
}

/*Video*/
.video{
    background-color: black;
}

.video-player{
     margin-top: 20px;
    height: 705px;
    background-image: url("/portfolio/assets/img/video-player.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-btn{
    height: 130px;
    width: 130px;
    background-image: url('/portfolio/assets/svg/Play_Unvisited.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
